<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.back.dao.manage.DeviceMapper">
    <resultMap id="deviceMap" type="nnu.edu.back.pojo.Device">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="picture" property="picture"></result>
        <result column="longitude" property="longitude"></result>
        <result column="latitude" property="latitude"></result>
        <result column="description" property="description"></result>
        <result column="port" property="port"></result>
        <result column="state" property="state"></result>
        <result column="last_update" property="lastUpdate"></result>
        <result column="register" property="register"></result>
    </resultMap>

    <select id="queryByPort" resultMap="deviceMap">
        select * from device where port = #{port}
    </select>

    <insert id="insertDevice">
        insert into device values(#{device.id}, #{device.name}, #{device.picture}, #{device.longitude}, #{device.latitude}, #{device.description}, #{device.port}, #{device.state}, #{device.lastUpdate})
    </insert>

    <select id="getAllDevice" resultMap="deviceMap">
        select * from device order by id
    </select>

    <select id="queryDeviceById" resultMap="deviceMap">
        select * from device where id::text = #{id}
    </select>

    <update id="updateState">
        update device set state = #{state} where id::text = #{id}
    </update>

    <update id="updateLastUpdate">
        update device set last_update = now() where id::text = #{id}
    </update>
</mapper>