<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nnu.edu.back.dao.monitoring.MonitoringDataMapper">
    <insert id="insertMonitoringData">
        insert into ${tableName} values (#{id}, #{time}, #{data, typeHandler=nnu.edu.back.common.utils.BlobTypeHandler})
    </insert>

    <insert id="createTable">
        create table ${tableName} (
            id text primary key,
            time text,
            data blob
        )
    </insert>
</mapper>